{
  "swagger": "2.0",
  "info": {
    "title": "Qubic Query API",
    "description": "API for querying archived Qubic data.",
    "version": "1.0.0"
  },
  "tags": [
    {
      "name": "ArchiveQueryService"
    }
  ],
  "host": "rpc.qubic.org",
  "basePath": "/query/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/getComputorListsForEpoch": {
      "post": {
        "summary": "Get computor lists",
        "description": "Get the list(s) of computors for one epoch. These are the computors (IDs signed by the arbitrator) that\nare allowed to make quorum decisions. It is possible that this list changes within the epoch in case of\narbitrator intervention.",
        "operationId": "ArchiveQueryService_GetComputorsListsForEpoch",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/pbGetComputorListsForEpochResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pbGetComputorListsForEpochRequest"
            }
          }
        ],
        "tags": [
          "ArchiveQueryService"
        ]
      }
    },
    "/getLastProcessedTick": {
      "get": {
        "summary": "Get last processed tick",
        "description": "Get the last processed tick and other processing information from the archive.\nAll data queried from the archive is only fully processed up to this tick.\nBefore calling the service you should check the last processed tick to be sure to get\nvalid data and do not request data for future ticks that are not processed yet. You can use\nthe epoch and initial tick information in the response to switch to a new interval.",
        "operationId": "ArchiveQueryService_GetLastProcessedTick",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/pbGetLastProcessedTickResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "ArchiveQueryService"
        ]
      }
    },
    "/getProcessedTickIntervals": {
      "get": {
        "summary": "Get processed tick intervals",
        "description": "Get the tick intervals that are available in the archive. A new tick interval is typically\ncreated on epoch change or network restart within the epoch. Use this endpoint to skip the\ntick numbers that are not part of the intervals. This endpoint is only necessary for users\nthat need to process all available ticks. For most users it is enough to switch to a new\ninterval by using the `get last processed tick` endpoint.",
        "operationId": "ArchiveQueryService_GetProcessedTickIntervals",
        "responses": {
          "200": {
            "description": "a list of tick intervals that were processed.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "$ref": "#/definitions/pbProcessedTickInterval"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "ArchiveQueryService"
        ]
      }
    },
    "/getTickData": {
      "post": {
        "summary": "Get tick data",
        "description": "Get the tick data for one tick.",
        "operationId": "ArchiveQueryService_GetTickData",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/pbGetTickDataResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pbGetTickDataRequest"
            }
          }
        ],
        "tags": [
          "ArchiveQueryService"
        ]
      }
    },
    "/getTransactionByHash": {
      "post": {
        "summary": "Get transaction by hash",
        "description": "Get a single transaction by its hash.",
        "operationId": "ArchiveQueryService_GetTransactionByHash",
        "responses": {
          "200": {
            "description": "the transaction for the requested hash.",
            "schema": {
              "$ref": "#/definitions/pbTransaction"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pbGetTransactionByHashRequest"
            }
          }
        ],
        "tags": [
          "ArchiveQueryService"
        ]
      }
    },
    "/getTransactionsForIdentity": {
      "post": {
        "summary": "Get transactions for identity",
        "description": "Get the transactions for one identity sorted by tick number descending.",
        "operationId": "ArchiveQueryService_GetTransactionsForIdentity",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/pbGetTransactionsForIdentityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "description": "###  Request structure\n\n   | Name       | Type               | Necessity | Description                                                                                                       |\n   |------------|--------------------|-----------|-------------------------------------------------------------------------------------------------------------------|\n   | identity   | string             | required  | 60 characters uppercase identity.                                                                                 |\n   | filters    | map\u003cstring,string\u003e | optional  | Filters that restrict results to single value.\u003cbr/\u003e Allowed fields are: source, destination, amount, inputType    |\n   | ranges     | map\u003cstring,Range\u003e  | optional  | Filters that restrict results to a value range.\u003cbr/\u003e Allowed fields are: amount, tickNumber, inputType, timestamp |\n   | pagination | Pagination         | optional  | Allows to specify the first record and the number of records to be retrieved.                                     |\n\n   Without filters and ranges all transactions from and to that identity ordered by tick number descending are returned.\n   Data type for all values is string.\n\n   ### Filters\n\n   Filters restrict the results by single values.\n\n   #### Allowed properties\n\n   | Name        |  Type   | Format                 | Description                                                        |\n   |-------------|---------|------------------------|--------------------------------------------------------------------|\n   | source      |  string | 60 character identity  | Only find transactions that were sent from the specified identity. |\n   | destination |  string | 60 character identity  | Only find transactions that were sent to the specified identity.   |\n   | amount      |  string | Numeric                | Only find transactions with the specified amount.                  |\n   | inputType   |  string | Numeric                | Only find transactions with the specified input type.              |\n\n   #### Examples\n\n   ```\n   \"source\": \"IIJHZSNPDRYYXCQBWNGKBSWYYDCARTYPOBXGOXZEVEZMMWYHPBVXZLJARRCB\",\n   \"destination\": \"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFXIB\"\n   \"amount\": \"1000000\"\n   \"inputType\": \"0\"\n   ```\n\n   ### Ranges\n\n   Ranges restrict the results by a range of values. On range per property is supported.\n\n   #### Allowed properties\n\n   | Name       | Type   | Format                                   | Description                                 |\n   |------------|--------|------------------------------------------|---------------------------------------------|\n   | amount     | string | Numeric                                  | Only find transactions in amount range.     |\n   | tickNumber | string | Numeric                                  | Only find transactions in tick range.       |\n   | inputType  | string | Numeric                                  | Only find transactions in input type range. |\n   | timestamp  | string | Numeric (Unix Timestamp in milliseconds) | Only find transactions in time range.       |\n\n   #### Range definition\n\n   A range with size of 0 or 1 is not allowed.\n\n   | Name      | Type   | Necessity | Description                               |\n   |-----------|--------|-----------|-------------------------------------------|\n   | field | string | required  | Name of the field you wish to search for. |\n   | gt        | string | optional  | Greater than.                             |\n   | gte       | string | optional  | Greater than or equal to.                 |\n   | lt        | string | optional  | Less than.                                |\n   | lte       | string | optional  | Less than or equal to.                    |\n\n   Only one lower bound and one upper bound can be specified.\n\n   #### Examples\n\n   ```\n   \"amount\": { \"gt\": \"1000000\" }\n   \"tickNumber\": { \"gte\": \"25563000\", \"lte\": \"28300000\" }\n   \"inputType\": { \"gt\": \"0\" }\n   \"timestamp\": { \"lt\": \"1757376000000\" }\n   ```\n\n   ### Pagination\n\n   | Name   | Type   | Necessity | Description                                                                                         |\n   |--------|--------|-----------|-----------------------------------------------------------------------------------------------------|\n   | offset | uint32 | optional  | The offset of the first record to return. Defaults to zero (first record). Maximum offset is 10000. |\n   | size   | uint32 | optional  | Defaults to 10. Maximum size is 1000. Zero value is ignored (uses default).                         |",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pbGetTransactionsForIdentityRequest"
            }
          }
        ],
        "tags": [
          "ArchiveQueryService"
        ]
      }
    },
    "/getTransactionsForTick": {
      "post": {
        "summary": "Get transactions for tick",
        "description": "Get the transactions that are in included in one tick.",
        "operationId": "ArchiveQueryService_GetTransactionsForTick",
        "responses": {
          "200": {
            "description": "the transactions for the requested tick number.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "$ref": "#/definitions/pbTransaction"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pbGetTransactionsForTickRequest"
            }
          }
        ],
        "tags": [
          "ArchiveQueryService"
        ]
      }
    }
  },
  "definitions": {
    "pbComputorList": {
      "type": "object",
      "properties": {
        "epoch": {
          "type": "integer",
          "format": "int64",
          "description": "epoch number."
        },
        "tickNumber": {
          "type": "integer",
          "format": "int64",
          "description": "tick number when the list was received by the archive after it was published."
        },
        "identities": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "list of computor identities (signed by arbitrator)."
        },
        "signature": {
          "type": "string",
          "description": "signature of the arbitrator."
        }
      },
      "title": "ComputorList"
    },
    "pbGetComputorListsForEpochRequest": {
      "type": "object",
      "properties": {
        "epoch": {
          "type": "integer",
          "format": "int64",
          "description": "the epoch number to get the computor lists for."
        }
      },
      "title": "GetComputorListsForEpochRequest"
    },
    "pbGetComputorListsForEpochResponse": {
      "type": "object",
      "properties": {
        "computorsLists": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/pbComputorList"
          },
          "description": "the lists of computors that voted in this epoch."
        }
      },
      "title": "GetComputorListsForEpochResponse"
    },
    "pbGetLastProcessedTickResponse": {
      "type": "object",
      "properties": {
        "tickNumber": {
          "type": "integer",
          "format": "int64",
          "description": "the last processed tick that is available in the archive."
        },
        "epoch": {
          "type": "integer",
          "format": "int64",
          "description": "the epoch the last processed tick is in."
        },
        "intervalInitialTick": {
          "type": "integer",
          "format": "int64",
          "description": "the initial tick of the current tick interval."
        }
      },
      "title": "GetLastProcessedTickResponse"
    },
    "pbGetProcessedTickIntervalsResponse": {
      "type": "object",
      "properties": {
        "processedTickIntervals": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/pbProcessedTickInterval"
          },
          "description": "a list of tick intervals that were processed."
        }
      },
      "title": "GetProcessedTickIntervalsResponse"
    },
    "pbGetTickDataRequest": {
      "type": "object",
      "properties": {
        "tickNumber": {
          "type": "integer",
          "format": "int64",
          "description": "the number of tick the tick data is requested for."
        }
      },
      "title": "GetTickDataRequest"
    },
    "pbGetTickDataResponse": {
      "type": "object",
      "properties": {
        "tickData": {
          "$ref": "#/definitions/pbTickData",
          "description": "the tick data of the requested tick."
        }
      },
      "title": "GetTickDataResponse"
    },
    "pbGetTransactionByHashRequest": {
      "type": "object",
      "properties": {
        "hash": {
          "type": "string",
          "description": "Hash of the transaction."
        }
      },
      "title": "GetTransactionByHashRequest"
    },
    "pbGetTransactionByHashResponse": {
      "type": "object",
      "properties": {
        "transaction": {
          "$ref": "#/definitions/pbTransaction",
          "description": "the transaction for the requested hash."
        }
      },
      "title": "GetTransactionByHashResponse"
    },
    "pbGetTransactionsForIdentityRequest": {
      "type": "object",
      "example": "{\"identity\": \"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFXIB\",\"filters\": { \"source\": \"IIJHZSNPDRYYXCQBWNGKBSWYYDCARTYPOBXGOXZEVEZMMWYHPBVXZLJARRCB\",\"inputType\": \"0\"}, \"ranges\": { \"amount\": { \"gt\": \"1000000\" }, \"tickNumber\": { \"gte\": \"25563000\", \"lte\": \"28300000\" } }, \"pagination\": { \"offset\": 0, \"size\": 10 } } ",
      "properties": {
        "identity": {
          "type": "string",
          "description": "The identity to get the transactions for. Incoming and outgoing transactions are queried by default."
        },
        "filters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Filters restrict the results by single values."
        },
        "ranges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/pbRange"
          },
          "description": "Ranges restrict the results by a maximum and minimum value."
        },
        "pagination": {
          "$ref": "#/definitions/pbPagination",
          "description": "Optional paging information."
        }
      },
      "description": "###  Request structure\n\n   | Name       | Type               | Necessity | Description                                                                                                       |\n   |------------|--------------------|-----------|-------------------------------------------------------------------------------------------------------------------|\n   | identity   | string             | required  | 60 characters uppercase identity.                                                                                 |\n   | filters    | map\u003cstring,string\u003e | optional  | Filters that restrict results to single value.\u003cbr/\u003e Allowed fields are: source, destination, amount, inputType    |\n   | ranges     | map\u003cstring,Range\u003e  | optional  | Filters that restrict results to a value range.\u003cbr/\u003e Allowed fields are: amount, tickNumber, inputType, timestamp |\n   | pagination | Pagination         | optional  | Allows to specify the first record and the number of records to be retrieved.                                     |\n\n   Without filters and ranges all transactions from and to that identity ordered by tick number descending are returned.\n   Data type for all values is string.\n\n   ### Filters\n\n   Filters restrict the results by single values.\n\n   #### Allowed properties\n\n   | Name        |  Type   | Format                 | Description                                                        |\n   |-------------|---------|------------------------|--------------------------------------------------------------------|\n   | source      |  string | 60 character identity  | Only find transactions that were sent from the specified identity. |\n   | destination |  string | 60 character identity  | Only find transactions that were sent to the specified identity.   |\n   | amount      |  string | Numeric                | Only find transactions with the specified amount.                  |\n   | inputType   |  string | Numeric                | Only find transactions with the specified input type.              |\n\n   #### Examples\n\n   ```\n   \"source\": \"IIJHZSNPDRYYXCQBWNGKBSWYYDCARTYPOBXGOXZEVEZMMWYHPBVXZLJARRCB\",\n   \"destination\": \"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFXIB\"\n   \"amount\": \"1000000\"\n   \"inputType\": \"0\"\n   ```\n\n   ### Ranges\n\n   Ranges restrict the results by a range of values. On range per property is supported.\n\n   #### Allowed properties\n\n   | Name       | Type   | Format                                   | Description                                 |\n   |------------|--------|------------------------------------------|---------------------------------------------|\n   | amount     | string | Numeric                                  | Only find transactions in amount range.     |\n   | tickNumber | string | Numeric                                  | Only find transactions in tick range.       |\n   | inputType  | string | Numeric                                  | Only find transactions in input type range. |\n   | timestamp  | string | Numeric (Unix Timestamp in milliseconds) | Only find transactions in time range.       |\n\n   #### Range definition\n\n   A range with size of 0 or 1 is not allowed.\n\n   | Name      | Type   | Necessity | Description                               |\n   |-----------|--------|-----------|-------------------------------------------|\n   | field | string | required  | Name of the field you wish to search for. |\n   | gt        | string | optional  | Greater than.                             |\n   | gte       | string | optional  | Greater than or equal to.                 |\n   | lt        | string | optional  | Less than.                                |\n   | lte       | string | optional  | Less than or equal to.                    |\n\n   Only one lower bound and one upper bound can be specified.\n\n   #### Examples\n\n   ```\n   \"amount\": { \"gt\": \"1000000\" }\n   \"tickNumber\": { \"gte\": \"25563000\", \"lte\": \"28300000\" }\n   \"inputType\": { \"gt\": \"0\" }\n   \"timestamp\": { \"lt\": \"1757376000000\" }\n   ```\n\n   ### Pagination\n\n   | Name   | Type   | Necessity | Description                                                                                         |\n   |--------|--------|-----------|-----------------------------------------------------------------------------------------------------|\n   | offset | uint32 | optional  | The offset of the first record to return. Defaults to zero (first record). Maximum offset is 10000. |\n   | size   | uint32 | optional  | Defaults to 10. Maximum size is 1000. Zero value is ignored (uses default).                         |",
      "title": "GetTransactionsForIdentityRequest"
    },
    "pbGetTransactionsForIdentityResponse": {
      "type": "object",
      "properties": {
        "validForTick": {
          "type": "integer",
          "format": "int64",
          "description": "the response is valid for this tick number."
        },
        "hits": {
          "$ref": "#/definitions/pbHits",
          "description": "information about the returned results."
        },
        "transactions": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/pbTransaction"
          },
          "description": "list of transactions that matched the search criteria."
        }
      },
      "title": "GetTransactionsForIdentityResponse"
    },
    "pbGetTransactionsForTickRequest": {
      "type": "object",
      "properties": {
        "tickNumber": {
          "type": "integer",
          "format": "int64",
          "description": "the tick number to get the transactions for."
        }
      },
      "title": "GetTransactionsForTickRequest"
    },
    "pbGetTransactionsForTickResponse": {
      "type": "object",
      "properties": {
        "transactions": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/pbTransaction"
          },
          "description": "the transactions for the requested tick number."
        }
      },
      "title": "GetTransactionsForTickResponse"
    },
    "pbHits": {
      "type": "object",
      "properties": {
        "total": {
          "type": "integer",
          "format": "int64",
          "description": "the total number of hits available in the archive. Capped at 10000."
        },
        "from": {
          "type": "integer",
          "format": "int64",
          "description": "starting offset of the hits that were returned."
        },
        "size": {
          "type": "integer",
          "format": "int64",
          "description": "number of returned hits."
        }
      },
      "description": "Provides information about the number of results.",
      "title": "Hits"
    },
    "pbPagination": {
      "type": "object",
      "properties": {
        "offset": {
          "type": "integer",
          "format": "int64",
          "description": "The offset specifies the starting point of the returned data. It needs to be a multiple of the page size. Defaults to zero."
        },
        "size": {
          "type": "integer",
          "format": "int64",
          "description": "The size specifies how many results should be returned. It needs to be a multiple of 10. Defaults to 10."
        }
      },
      "description": "Pagination size and offset input is restricted and needs to follow certain rules.\nThe number of maximum results (offset + size) is limited to 10000.",
      "title": "Pagination"
    },
    "pbProcessedTickInterval": {
      "type": "object",
      "properties": {
        "epoch": {
          "type": "integer",
          "format": "int64",
          "description": "the epoch the interval is in."
        },
        "firstTick": {
          "type": "integer",
          "format": "int64",
          "description": "the initial processed tick of the interval."
        },
        "lastTick": {
          "type": "integer",
          "format": "int64",
          "description": "the last processed tick of the interval."
        }
      },
      "title": "ProcessedTickInterval"
    },
    "pbRange": {
      "type": "object",
      "properties": {
        "gt": {
          "type": "string",
          "description": "greater than."
        },
        "gte": {
          "type": "string",
          "description": "greater than or equal."
        },
        "lt": {
          "type": "string",
          "description": "less than."
        },
        "lte": {
          "type": "string",
          "description": "less than or equal."
        }
      },
      "title": "Range"
    },
    "pbTickData": {
      "type": "object",
      "properties": {
        "tickNumber": {
          "type": "integer",
          "format": "int64"
        },
        "epoch": {
          "type": "integer",
          "format": "int64"
        },
        "computorIndex": {
          "type": "integer",
          "format": "int64"
        },
        "timestamp": {
          "type": "string",
          "format": "uint64"
        },
        "varStruct": {
          "type": "string"
        },
        "timeLock": {
          "type": "string"
        },
        "transactionHashes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "contractFees": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "signature": {
          "type": "string"
        }
      },
      "title": "TickData"
    },
    "pbTransaction": {
      "type": "object",
      "properties": {
        "hash": {
          "type": "string"
        },
        "amount": {
          "type": "string",
          "format": "uint64"
        },
        "source": {
          "type": "string"
        },
        "destination": {
          "type": "string"
        },
        "tickNumber": {
          "type": "integer",
          "format": "int64"
        },
        "timestamp": {
          "type": "string",
          "format": "uint64"
        },
        "inputType": {
          "type": "integer",
          "format": "int64"
        },
        "inputSize": {
          "type": "integer",
          "format": "int64"
        },
        "inputData": {
          "type": "string"
        },
        "signature": {
          "type": "string"
        },
        "moneyFlew": {
          "type": "boolean",
          "description": "Money flew is an additional information provided by some nodes with the tx status addon patch."
        }
      },
      "title": "Transaction"
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    }
  },
  "externalDocs": {
    "description": "Github",
    "url": "https://github.com/qubic/archive-query-service"
  }
}
